body{
    background-image: url(pexels-dom-j-45717.jpg);
}


.main-wrapper h1{
    font-size: 50px;
    color: #000;
    -webkit-text-stroke: 1px #FFF;
    text-stroke: 1px #FFF;
}

.main-wrapper h3{
    font-size: 30px;
    color: #000;
    -webkit-text-stroke: 1px #FFF;
    text-stroke: 1px #FFF;
}
/* 
.MuiPaper-root{
    float:right;
} */

.cardTitle{
    cursor: pointer;
    font-size: 22px;
}